        /* navigator */
        
        .navbar {
            background-color: #F1F3FF;
        }
        /* home */
        
        .navi {
            background-color: #F1F3FF;
            margin-bottom: 30px;
        }
        
        .container-fluid {
            background-size: cover;
        }
        
        .imge {
            margin-top: 90px;
        }
        
        .text {
            margin-top: 90px;
        }
        
        .text h1 {
            font-family: helvetica;
            font-weight: bold;
            font-size: 36px;
        }
        
        .text p {
            font-family: helvetica;
            font-weight: 300;
            font-size: 15px;
        }
        /* akhir home */
        /* our service */
        
        .our {
            margin-top: 30px;
        }
        
        .our .textt h1 {
            font-weight: bold;
            font-size: 32px;
            font-family: helvetica;
        }
        
        .d-flex {
            font-size: 15px;
        }
        /* our service akhir */
        /* why us */
        
        .whyus {
            margin-top: 30px;
        }
        
        .whyus .why {
            font-family: helvetica;
            font-weight: bold;
        }
        
        .card {
            margin-top: 30px;
            max-width: fit-content;
        }
        
        .card-body {
            border: #000
        }
        
        .card-text {
            font-size: 15px;
            font-family: helvetica;
            align-items: center;
        }
        
        .card-body .fa-solid {
            align-items: center;
        }
        
        .card h5 {
            font-weight: bold;
        }
        /* why us end */
        /* testimoni awal  */
        
        .Testimonial {
            font-family: helvetica;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .testimon p {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
        }
        
        .testimon h5 {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
        }
        
        .item {
            background: #F1F3FF;
            margin-right: 20px;
            padding: 1.5rem 2rem;
        }
        /* testimoni akhir  */
        /* kontak awal */
        
        .kontak {
            top: 100px;
            margin: 0 auto;
            background-color: darkblue;
            background-size: contain;
            border-radius: 20px;
            text-align: center;
            height: 200px;
            margin-top: 10px;
        }
        
        .kontak .display {
            font-weight: 300;
            font-family: helvetica;
            font-weight: bold;
            text-align: center;
            font-size: 32px;
            color: rgb(245, 235, 235);
        }
        
        .kontak .display5 {
            top: 300px;
            font-weight: 300;
            font-family: helvetica;
            font-weight: 300;
            text-align: center;
            font-size: 32px;
            color: rgb(238, 231, 231);
        }
        /* kontak akhir */
        /* FAQ */
        
        .faq {
            margin-top: 30px;
        }
        
        .faq h1 {
            margin-top: 30px;
            font-size: 32PX;
            font-weight: bold;
            font-family: helvetica;
        }
        
        .faq p {
            font-size: 20px;
            font-family: helvetica;
        }
        
        .accordion {
            margin-top: 30px;
            margin-bottom: 10px;
            border-radius: 4px;
        }
        
        .accordion-item {
            font-size: 15px;
            font-family: helvetica;
            font-weight: bold;
            border-color: #F1F3FF;
            margin-top: 10px;
            border-radius: 1px;
        }
        /* footer */
        
        .footer {
            margin-top: 1opx
        }
        
        .footer a {
            font-size: 13px;
            font-family: helvetica;
            font-weight: 300;
            color: #000;
        }
        
        @media (max-width: 1399.98px) {
            .text {
                margin-top: 10px;
            }
            .whyus {
                text-align: center;
            }
            .faq {
                margin-top: 10px;
            }
            .faq h1 {
                font-size: 24PX;
            }
            .faq p {
                font-size: 14px;
            }
            .card {
                max-height: fit-content;
                max-width: fit-content;
            }
            .kontak {
                height: max-content;
            }
            .testimoni {
                margin-top: 20px;
            }
            .accordion {
                margin-top: 10px;
            }
            .footer {
                width: 150px;
                font-size: 14px;
            }
        }
        
        @media only screen and (min-width: 990px) {
            .btn.btn-light.canvas {
                opacity: 0;
                position: absolute;
                display: flex;
            }
            .canvas-button {
                display: flex;
                background-color: #F1F3FF;
            }
        }
        
        @media only screen and (max-width: 990px) {
            .btn.btn-light.canvas {
                display: flex;
                position: absolute;
                right: 1%;
                top: 1%;
            }
            .offcanvas .body {
                font-family: Helvetica;
                font-size: 14px;
                line-height: 14px;
                padding: 1rem 1rem;
            }
            .offcanvas {
                width: 50%;
                background-color: #F1F3FF;
            }
            .nav-item {
                font-size: 14px;
                line-height: 20PX;
                font-family: helvetica;
                color: #000;
            }
        }
        
        @media (max-width: 575.98px) {
            .rate {
                margin: auto;
            }
        }